.venv
__pycache__
*.pyc
config/.api_keys
config/ngrok_token.txt
config/ngrok_enabled.txt
*.log
*.sqlite
superbrain.db
payload/final_test.txt
payload/token.txt
payload/yt_error.txt
payload/err.json
payload/failures.txt
payload/error_log_utf8.txt
payload/config/.api_keys

*superbrain.db*

*.setup_done

__pycache__/*
temp/*
*/__pycache__/*

